@import "../../designSystem/library";

.dropdown-container {
  width: 100px;
  background-color: white;
  box-shadow: 2px -1px 10.2px 0px #84848440;
  border-radius: 4px;

  .dropdown-option {
    padding: 0.6rem 0.7rem;
  }

  .dropdown-option:hover {
    background-color: $primary-100;
    color: white;
  }
}
