@import "../../designSystem/_library.scss";

.inputField {
  border: 1px solid transparent;
  outline: none;
  transition: border 0.3s ease;
}

.inputField:focus {
  border: 1px solid $primary-100 !important;
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #aaa;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="radio"]:checked {
  border-color: $primary-100;
  background-color: $primary-100;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s ease;
}

input[type="radio"]:focus {
  outline: none;
  border-color: $primary-100;
}

.inputField label {
  font-size: 14px;
}
.label-text{
  font-size: 14px;
}