@import "../../../designSystem/library.scss";

.header-container {
  font-family: $font-quaternary;
  position: sticky;
  top: 0;
  z-index: 1111;

  .header-strip-container {
    display: flex;
    align-items: center;
    background-color: $secondary-100;
    height: 70px;
    padding: 0 1.5rem;
    position: relative;

    .logo-container {
      color: $primary-100;
      font-size: 20px;
      flex: 1;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .nav-link-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      height: 100%;
      flex: 3;
      cursor: pointer;
      font-weight: 300;
      font-size: 14px;

      .arrow-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        translate: all linear 0.5s;
        position: relative;

        .dropdown-wrapper {
          position: absolute;
          top: 1.6rem;
          z-index: 11112;
        }
      }

      .arrow-container:hover {
        .arrow-container-text {
          color: $primary-100;
        }
        svg {
          // transform: rotate(180deg) !important;
          transition: all linear 0.3s;
          path {
            stroke: $primary-100;
          }
        }
      }
    }

    .header-tools-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex: 1;

      .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        position: relative;

        .search-icon-container {
          position: absolute;
          left: 0.5rem;
        }

        input {
          height: 30px;
          border: none;
          padding-left: 2rem;
          border-radius: 4px;
          outline: none;
        }

        input:focus {
          border-color: $primary-100;
          outline: 2px solid $primary-100;
        }
      }

      .cart-container {
        position: relative;
        z-index: 2;
        margin-left: 0.8rem;
        cursor: pointer;

        svg {
          position: relative;
          z-index: 2;
          path {
            transition: fill linear 0.1s;
          }
        }

        .item-number-circle {
          position: absolute;
          top: -0.2rem;
          right: -0.6rem;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background-color: red;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          color: white;
          z-index: 1;
        }
      }

      .cart-container:hover {
        svg {
          path {
            fill: $primary-100;
          }
        }
      }

      .profile-container {
        position: relative;
        margin-left: 0.8rem;
        cursor: pointer;

        svg {
          path {
            transition: fill linear 0.1s;
          }
        }

        .user-popup-container {
          position: absolute;
          width: 100px;
          right: -10px;
          top: 2rem;
          padding: 0.6rem 0.7rem;
          border-radius: 4px;
          box-shadow: 2px -1px 10.2px 0px #84848440;
          background-color: white;
          font-size: 14px;
          font-weight: 300;
          z-index: 11112;

          &:hover {
            color: $primary-100;
          }
        }
      }

      .profile-container:hover {
        svg {
          path {
            fill: $primary-100;
          }
        }
      }
    }

    .progress-bar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 5px;
      background-color: $primary-100;
      transform-origin: 0%;
      z-index: 11111;
    }
  }
}
