@import "../../designSystem/_library.scss";

$background-color: #ffffff;
$input-border-color: #e0e0e0;
$input-padding: 10px;

.checkout-container-wrapper {
  background-color: #e5e5e5;
  padding: 3rem 0rem;
  margin-bottom: -3rem;

  .checkout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 3rem;
    gap: 4rem;
    background-color: #ffffff;
    font-family: $font-secondary;
    width: 80vw;
    margin: auto;
  }
}
