.image-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;

  .image-preview-container {
    width: 100%;
    height: 350px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .image-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 1.5rem;
    height: 150px;

    .image-container {
      position: absolute;
      left: 0;
      top: 0rem;
      padding: 0.2rem;

      img {
        height: 120px;
        width: 160px;
        object-fit: cover;
      }
      transition: all linear 0.3s;
    }

    .image-container-active {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.5px solid black;
    }

    .left-arrow-container,
    .right-arrow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0.9rem 0.8rem;
      cursor: pointer;
      transition: all ease-out 0.25s;
    }

    .left-arrow-container {
      left: 4rem;
      opacity: 0;
    }

    .left-arrow-container-active {
      left: 0rem;
      opacity: 100;
    }

    .left-arrow-container:hover {
      background-color: rgb(47, 47, 47);
    }

    .right-arrow-container {
      right: 4rem;
      opacity: 0;
    }

    .right-arrow-container-active {
      right: 0rem;
      opacity: 100;
    }

    .right-arrow-container:hover {
      background-color: rgb(47, 47, 47);
    }
  }
}
